.container {
    border: solid 1px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .left_side {
        width: 80%;
        height: 100%;
    }

    .right_side {
        width: 20%;
        height: 100%;
    }

}